body {
  font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  color:#151515;
}

.header {
  color: #FFF;
}

header {
  height: 70px;
  padding-top: 50px;
  background: none repeat scroll 0% 0% rgb(211, 54, 11);
}

.nav ul {
  list-style-type:none;
}

.nav li {
  display:inline;
  width:60px;
}

.nav li a {
  text-decoration: none;
  color:#151515;
}

footer {
  height: 50px;
  background: #ccc;
}

footer a {
  color:#151515;
}